@font-face {
  font-family: "MontserratAlternates";
  font-style: normal;
  src: local("MontserratAlternates-Bold"), local("Montserrat Alternates Bold"),
    url("../font/MontserratAlternates-Bold.ttf") format(TrueType);
  font-weight: 700;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "MontserratAlternates";
  font-style: normal;
  line-height: normal;
}
a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}

/* Контент */
.content {
  display: flex;
  width: 1440px;
  justify-content: space-between;
  padding: 40px 80px;
  align-items: center;
  gap: 40px;
  background: var(--background, #e2e8f7);
}

.content__wrapper-text {
  width: 561px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.content__title {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  color: var(--black, #24252e);
}
.content__text {
  font-size: 30px;
  font-weight: 400;
  color: var(--black, #24252e);
}

.content__img {
  width: 605px;
  height: 605px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  margin: 0 auto; */
  flex-shrink: 0;
}
.content__img-circle {
  width: 605px;
  height: 605px;
  position: relative;
  flex-shrink: 0;
  border-radius: 605px;
  background: var(--white, #fff);
  /* filter: blur(50px); */
}
.content__img-container {
  width: 605px;
  height: 605px;
  /* margin: 75px 28px 33.6px 23px; */
  flex-shrink: 0;
  border-radius: 605px;
  position: absolute;
  top: 75px;
  bottom: 33.61px;
  left: 23px;
  right: 28px;
}
.content__image {
  /* width: 100%; */
  /* object-fit: contain; */
}

/* Карточки */

.block-card {
  display: flex;
  /* width: 1440px;
  padding: 80px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.block {
  width: 1440px;
  padding: 80px;
}
.block-card__title {
  display: block;
  color: var(--black, #24252e);
  /* font-family: 'MontserratAlternates'; */
  font-size: 40px;
  /* font-style: normal; */
  font-weight: 700;
  /* line-height: normal; */
}

.block-card_title-red {
  color: var(--red, #ee3124);
  /* font-family: 'MontserratAlternates'; */
  font-size: 40px;
  /* font-style: normal; */
  font-weight: 700;
  /* line-height: normal; */
  text-transform: uppercase;
}
.wrapper-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
/* Вакансии */

.vacancies {
  display: flex;
  width: 1440px;
  padding: 0px 80px 80px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.vacancies__title {
  width: 100%;
  font-size: 40px;
}

.title {
  color: var(--black, #24252e);
  /* font-family: "MontserratAlternates"; */
  /* font-style: normal; */
  font-weight: 700;
  /* line-height: normal; */
}
.vacancies__title-red {
  font-size: 40px;
  text-transform: lowercase;
}

.title-red {
  color: var(--red, #ee3124);
  /* font-family: "Montserrat Alternates"; */
  /* font-style: normal; */
  font-weight: 700;
  /* line-height: normal; */
}

.vacancies__wrapper {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 334px;
  border-bottom: 0.5px solid var(--background, #e2e8f7);
}

.vacancies__announcement {
  display: flex;
  width: 745px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.vacancies__profession {
  align-self: stretch;
  color: var(--black, #24252e);
  /* font-family: Montserrat Alternates; */
  font-size: 18px;
  /* font-style: normal; */
  font-weight: 600;
  /* line-height: normal; */
}

.vacancies__city {
  align-self: stretch;
  color: var(--light-grey, #7f7f7f);
  /* font-family: Montserrat Alternates; */
  font-size: 18px;
  /* font-style: normal; */
  font-weight: 400;
  /* line-height: normal; */
}
.vacancies__btn {
  padding: 16px 32px;
  width: 161px;
  border-radius: 50px;
  border: 1px solid var(--red, #ee3124);
  background: var(--white, #fff);
  color: #24252e;
  text-align: center;
  /* font-family: Montserrat Alternates; */
  font-size: 16px;
  /* font-style: normal; */
  font-weight: 500;
  /* line-height: normal; */
  text-transform: capitalize;
}

.btn {
  border: none;
  outline: none;
  border-radius: 50px;
  background: var(--red, #ee3124);
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

/* .btn {
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 5rem;
  line-height: 1.95rem;
  padding: 16px 32px;
  cursor: pointer;
} */

.btn:active {
  scale: 0.95;
}

.btn_theme_primary {
  color: white;
  border: 1px solid #ee3124;
  background-color: #ee3124;
}

.btn_theme_primary:hover {
  border: 1px solid #b20000;
  background-color: #b20000;
}

.btn_theme_primary:disabled {
  border: 1px solid #ced5dd;
  background-color: #ced5dd;
}

.btn_theme_secondary {
  color: #24252e;
  border: 1px solid #ee3124;
  background-color: white;
}

.btn_theme_secondary:hover {
  color: #24252e;
  border: 1px solid #b20000;
  background-color: white;
}

.btn_theme_secondary:disabled {
  color: #24252e;
  border: 1px solid #ced5dd;
  background-color: white;
}

.application__title {
  font-size: 40px;
  padding-bottom: 30px;
}

.application_title_red {
  text-transform: uppercase;
}

.application__text {
  font-size: 18px;
  padding-bottom: 50px;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 132px;
  padding: 40px 80px;
  gap: 40px;
  border-radius: 100px;
  background: #24252e;
} */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 132px;
  padding: 40px 80px;
  gap: 40px;
  border-radius: 100px;
  background: #24252e;
}

.form__input {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 260px;
  padding: 12px 20px;

  border-radius: 50px;
  /* background: #fff; */
  font-size: 16px;
  font-weight: 400;
  /* color: #7f7f7f; */
}

.form__input::placeholder {
  color: #7f7f7f;
  font-family: inherit;
  background: #fff;
}
.form__btn {
  width: 225px;
  height: 52px;
  font-family: inherit;
  white-space: nowrap;
}
